entsoe-py  #API for ENTSOE european power data
cdsapi     #API for ERA5 weather reanalysis data
tensorflow
scikit-learn
pandas>=2.2
matplotlib
ipyml #only needed for interactive figures in the example notebook
ecmwf-opendata #API for ECWMF weather forecasts
